<div class="i-am-time-section-outer">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">I am Time</h5>
    <button type="button" (click)="closeModal()" class="close" data-dismiss="modal" aria-label="Close">
      <!--      <span aria-hidden="true">&times;</span>-->
    </button>
  </div>
  <div class="modal-body">
    <div class="iatc-section">
      <!-- Header Top Section Start -->
      <div class="header-top-section">
        <div class="header-top-section-inn">
          <div class="header-top-left">
            <h5 class="title-name">NAZIM HIKMAT</h5>
            <p class="end-time">Last Date-<span>May 30, 2020</span></p>
            <a href="" title="Guide" class="guide-button"><img src="assets/img/guide-icon.png"
                                                               alt=""/>
              <span>Rules</span></a>

          </div>
          <div class="header-top-right">
            <div class="badges-dotcoins-outer">
              <ul class="nav-2">
                <li>
                  <img src="assets/img/badges-icon.png" alt=""/> <span
                  class="status-red"></span>
                  Badges
                  <span class="number">3</span>
                </li>
                <li>
                  <img src="assets/img/dotcoin-45-45.png" alt=""/> Dotcoins
                  <span class="number">0</span>
                </li>
              </ul>
            </div>
            <div class="view-button-outer d-flex justify-content-end">
              <a href="#" title="" class="view-button accept-btn">Join</a>
            </div>

          </div>
        </div>
      </div>
      <!-- Header Top Section End -->

      <div class="join-with-slider-outer">
        <div class="d-flex justify-content-between">
          <div class="join-with-slider-left">
            <!-- Slider Start -->
            <div class="i-am-time-slider-outer">
              <div class="story-slider">
                <div class="slider slider-for">
                  <div>
                    <img src="assets/img/slider-big1.jpg" alt="" class="img-fluid">
                  </div>
                  <div>
                    <img src="assets/img/slider-big1.jpg" alt="" class="img-fluid">
                  </div>
                  <div>
                    <img src="assets/img/slider-big1.jpg" alt="" class="img-fluid">
                  </div>
                  <div>
                    <img src="assets/img/slider-big1.jpg" alt="" class="img-fluid">
                  </div>
                </div>
                <div class="slider slider-nav">
                  <div>
                    <img src="assets/img/slider-small1.jpg" alt="" class="img-fluid">
                  </div>
                  <div>
                    <img src="assets/img/slider-small1.jpg" alt="" class="img-fluid">
                  </div>
                  <div>
                    <img src="assets/img/slider-small1.jpg" alt="" class="img-fluid">
                  </div>
                  <div>
                    <img src="assets/img/slider-small1.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
            <!-- Slider End -->
          </div>
          <div class="join-with-slider-right">
            <div class="join-right-section-outer">
              <h5>You Invited by </h5>
              <h6>(Choose one group and continue with the challenge)</h6>
              <div class="choose-group">
                <div class="story-group-member">
                  <div class="form-row g-member">
                    <div class="g-member-list">

                      <div class="radio-section">
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadioInline1" name="customRadioInline"
                                 class="custom-control-input">
                          <label class="custom-control-label" for="customRadioInline1">
                            <figure>
                              <img src="assets/img/group-1.png" alt="" class="img-fluid">
                            </figure>
                            <div class="content">
                              <h6> Taahira</h6>
                              <h5>Avenger group</h5>
                            </div>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="g-member-list">

                      <div class="radio-section">
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadioInline2" name="customRadioInline"
                                 class="custom-control-input">
                          <label class="custom-control-label" for="customRadioInline2">
                            <figure>
                              <img src="assets/img/group-2.png" alt="" class="img-fluid">
                            </figure>
                            <div class="content">
                              <h6>Aadhya</h6>
                              <h5>Hulk Group</h5>
                            </div>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="g-member-list">

                      <div class="radio-section">
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadioInline3" name="customRadioInline"
                                 class="custom-control-input">
                          <label class="custom-control-label" for="customRadioInline3">
                            <figure>
                              <img src="assets/img/group-3.png" alt="" class="img-fluid">
                            </figure>
                            <div class="content">
                              <h6>Mehar</h6>
                              <h5>Forest Group</h5>
                            </div>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accepted-group">
                <h4>Accepted Group Members from Avenger group</h4>
                <div class="story-group-member">
                  <div class="form-row g-member">
                    <div class="g-member-list">
                      <figure>
                        <img src="assets/img/group-1.png" alt="" class="img-fluid">
                      </figure>
                      <div class="content">
                        <h6>Kalia <span>Final Submitter</span></h6>
                        <h5>Devidas</h5>
                        <p>8th Grade, <span>Cambridge High School</span></p>
                      </div>
                    </div>
                    <div class="g-member-list">
                      <figure>
                        <img src="assets/img/group-2.png" alt="" class="img-fluid">
                      </figure>
                      <div class="content">
                        <h6>Chota Bheem</h6>
                        <h5>Rupak Badesha</h5>
                        <p>5th Grade, <span>Arcadia Public School</span></p>
                      </div>
                    </div>
                    <div class="g-member-list">
                      <figure>
                        <img src="assets/img/group-3.png" alt="" class="img-fluid">
                      </figure>
                      <div class="content">
                        <h6>Chutki</h6>
                        <h5>Vikrant Jayasurya</h5>
                        <p>5th Grade, <span>Central Public School</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Slider Bottom Content Start -->
      <div class="slider-bottom-content">
        <p><span>Challenge Description:</span> The great Turkish poet - once asked his friend ABIDIN
          DINO (Turkish
          artist and well-known painter), to draw a picture of HAPPINESS. He drew a picture of a
          whole family -- cramped up on a broken bed -- under a leaky roof in a shabby room -- but
          still with a smile on each member's face! <br>
          Goes without saying that the painting became very famous.<br>
          Yes, Happiness is not the absence of sufferings but acceptance of sufferings. See good
          around you even in trying situations ..stop worrying about things that are beyond your
          control.. stay happy...
        </p>
        <p>
          As part of this challenge, travel through time and think of all the moments that brought
          you happiness. Use your creativity to share your collage of happy moments with your
          community.</p>
      </div>
      <!-- Slider Bottom Content End -->
    </div>
  </div>
</div>
