 <!-- Quest map Slider Start -->
  <div class="daily-dot-slider-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <button routerLink="/main-route/student/home" type="button" class="btn-daily-dot-back"><img
              src="assets/img/back-arrow.png" alt=""> Quest Map</button>
        </div>
      </div>
    </div>
    <!-- Slider Start -->
    <div class="daily-dot-slider">
      <div class="dd-slides" style="background: url('assets/img/quest-map-img.png')">
        <h3 class="mb-2">I am Time</h3>
        <p class="mb-2">This 3 week quest includes 9 Challenges 12 Quizzes 6 Videos</p>
        <div class="row md-5">
          <div class="col-7 col-md-3">
            <div class="progress mb-5">
              <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <p>Complete the pending challenge</p>
        <button [routerLink]="['/main-route/student/quest-map/'+encodedQuestID]" class="btn btn-primary"
          type="button">Continue</button>
      </div>
      <div class="dd-slides" style="background: url('assets/img/quest-map-img.png')">
        <h3 class="mb-2">I am Time</h3>
        <p class="mb-2">This 3 week quest includes 9 Challenges 12 Quizzes 6 Videos</p>
        <div class="row md-5">
          <div class="col-7 col-md-3">
            <div class="progress mb-5">
              <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <p>Complete the pending challenge</p>
        <button [routerLink]="['/main-route/student/quest-map/'+encodedQuestID]" class="btn btn-primary"
          type="button">Continue</button>
      </div>
    </div>
    <!-- Slider End -->
  </div>
  <!-- Quest map Slider End -->



  <!-- Quest Map Bottom Content Start -->
  <div class="daily-dot-bottom-content">
    <!-- Top 3 Quests Section Start -->
    <div class="daily-poll-section pb-5">
      <div class="container">
        <div class="row mb-4">
          <div class="col-12 d-flex justify-content-between">
            <h2>Top 3 Quests</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="top-quests-box iam-time-box" >
              <figure>
                <img src="assets/img/i-am-time-icon.png" alt="">
              </figure>
              <h6>I am Time</h6>
              <p>Finish on time and earn <strong>30 coins</strong></p>
              <div class="bottom-text">
                <div class="avatar">
                  <img src="assets/img/logo-icon.png" alt="">
                </div>
                <div class="anecdote-info">
                  <h5>Rupak Badesha</h5>
                  <p>Created Date: 10 Dec, 2020</p>
                </div>
              </div>
              <div class="time-list">
                <li><img src="assets/img/start-time-icon.png" alt="">
                  <div class="time-info"> <strong>Start time</strong> Nov 6, 2020 . 3:38 pm</div>
                </li>
                <li><img src="assets/img/total-coin-icon.png" alt="">
                  <div class="time-info"> <strong>Total Coins to be earn 1000</strong> Earned: 600 <span
                      class="border-right mr-2 ml-2"></span> Need: 400</div>
                </li>
              </div>
              <div class="progress-wrapper d-flex">
                <div class="progress w-75">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="text">70%</span>
              </div>
              <div class="other-options d-flex justify-content-between">
                <div class="left">
                  <button class="btn" type='button' [routerLink]="['/main-route/student/quest-map/'+encodedQuestID]">
                    <img src="assets/img/continue-icon.png" alt="">
                    Continue
                </button>`
                  <button class="btn" type='button' [routerLink]="['/main-route/student/quest-map/'+encodedQuestID]">
                    <img src="assets/img/view-icon.png" alt="">
                     View</button>
                </div>
                <div class="right">
                  <button class="btn btn-like" type='button'><img src="assets/img/like-icon.png" alt=""> 8</button>
                </div>
              </div>
            </div>
            <div class="quests-info">
              <div class="avatar">
                <img src="assets/img/logo-dark-icon.png" alt="">
              </div>
              <div class="quests-right-info">
                <h4>I am Time</h4>
                <p>This 3 week quest includes <br>
                  9 Challenges <br>
                  12 Quizzes <br>
                  6 Videos <br>
                  and opportunity to earn 1000 Dotcoins and achievement badges</p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="top-quests-box finding-purpose-box">
              <figure>
                <img src="assets/img/finding-purpose-icon.png" alt="">
              </figure>
              <h6>Finding Purpose</h6>
              <p>Search and find the purpose</p>
              <div class="bottom-text">
                <div class="avatar">
                  <img src="assets/img/logo-icon.png" alt="">
                </div>
                <div class="anecdote-info">
                  <h5>Rupak Badesha</h5>
                  <p>Created Date: 10 Dec, 2020</p>
                </div>
              </div>
              <div class="time-list">
                <li><img src="assets/img/start-time-icon.png" alt="">
                  <div class="time-info"> <strong>Start time</strong> Nov 6, 2020 . 3:38 pm</div>
                </li>
                <li><img src="assets/img/total-coin-icon.png" alt="">
                  <div class="time-info"> <strong>Total Coins to be earn 1000</strong> Earned: 600 <span
                      class="border-right mr-2 ml-2"></span> Need: 400</div>
                </li>
              </div>
              <div class="progress-wrapper d-flex">
                <div class="progress w-75">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="text">70%</span>
              </div>
              <div class="other-options d-flex justify-content-between">
                <div class="left">
                  <button class="btn" type='button'  [routerLink]="['/main-route/student/quest-map/'+encodedQuestID]">
                    <img src="assets/img/continue-icon.png" alt="">
                    Continue
                </button>
                  <button class="btn" type='button' [routerLink]="['/main-route/student/quest-map/'+encodedQuestID]">
                    <img src="assets/img/view-icon.png" alt="">
                     View</button>
                </div>
                <div class="right">
                  <button class="btn btn-like" type='button'><img src="assets/img/like-icon.png" alt=""> 8</button>
                </div>
              </div>
            </div>
            <div class="quests-info">
              <div class="avatar">
                <img src="assets/img/logo-dark-icon.png" alt="">
              </div>
              <div class="quests-right-info">
                <h4>Finding Purpose</h4>
                <p>
                  This 3 week quest includes <br>
                  9 Challenges <br>
                  12 Quizzes <br>
                  6 Videos <br>
                  and opportunity to earn 1000 Dotcoins and achievement badges
                </p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="top-quests-box flim-maker-box">
              <figure>
                <img src="assets/img/flim-maker-icon.png" alt="">
              </figure>
              <h6>Quest of a Film Maker</h6>
              <p>Make a film</p>
              <div class="bottom-text">
                <div class="avatar">
                  <img src="assets/img/logo-icon.png" alt="">
                </div>
                <div class="anecdote-info">
                  <h5>Rupak Badesha</h5>
                  <p>Created Date: 10 Dec, 2020</p>
                </div>
              </div>
              <div class="time-list">
                <li><img src="assets/img/start-time-icon.png" alt="">
                  <div class="time-info"> <strong>Start time</strong> Nov 6, 2020 . 3:38 pm</div>
                </li>
                <li><img src="assets/img/total-coin-icon.png" alt="">
                  <div class="time-info"> <strong>Total Coins to be earn 1000</strong> Earned: 600 <span
                      class="border-right mr-2 ml-2"></span> Need: 400</div>
                </li>
              </div>
              <div class="progress-wrapper d-flex">
                <div class="progress w-75">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="text">70%</span>
              </div>
              <div class="other-options d-flex justify-content-between">
                <div class="left">
                  <button class="btn" type='button'  [routerLink]="['/main-route/student/quest-map/'+encodedQuestID]">
                    <img src="assets/img/continue-icon.png" alt="">
                    Continue
                </button>
                  <button class="btn" type='button' [routerLink]="['/main-route/student/quest-map/'+encodedQuestID]">
                    <img src="assets/img/view-icon.png" alt="">
                     View</button>
                </div>
                <div class="right">
                  <button class="btn btn-like" type='button'><img src="assets/img/like-icon.png" alt=""> 8</button>
                </div>
              </div>
            </div>
            <div class="quests-info">
              <div class="avatar">
                <img src="assets/img/logo-dark-icon.png" alt="">
              </div>
              <div class="quests-right-info">
                <h4>Quest of a Film Maker</h4>
                <p>This 3 week quest includes <br>
                  9 Challenges <br>
                  12 Quizzes <br>
                  6 Videos <br>
                  and opportunity to earn 1000 Dotcoins and achievement badges</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Top 3 Quests Section End -->

  </div>
  <!-- Quest Map Bottom Content End -->

  <!--Student Daily Quote Modal Start-->
  <div class="modal fade studentDailyQuoteModal" id="studentDailyQuoteModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="studentDailyQuoteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="studentDailyQuoteModalLabel">Daily Quote</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body bg-white">
          <div class="row pt-3 pt-md-5 pb-3 pb-md-5">
            <div class="col-12 col-md-4 offset-md-2 text-center">
              <img class="img-fluid" src="assets/img/quote-image.jpg" alt="">
            </div>
            <div class="col-12 col-md-5 text-center">
              <p class="quote-text"><span>You</span> <span>don’t</span> <span>have</span> <span>To</span>
                <span>be</span> <span>PERFECT</span> <span>To</span> <span>be</span> <span>AMAZING</span> </p>
            </div>
          </div>
          <div class="row mb-3 mb-md-5 mt-3 mt-md-5">
            <div class="col-12 text-center">
              <button data-toggle="modal" data-target="#studentTodayQuestionModal" type="button" class="btn btn-primary"
                data-dismiss="modal">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Student Daily Quote Modal End-->

  <!--Student Today's Question Modal Start-->
  <div class="modal fade studentTodayQuestionModal" id="studentTodayQuestionModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="studentTodayQuestionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="studentTodayQuestionModalLabel">Today’s question</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body bg-white">
          <div class="row mt-3 mt-md-5">
            <div class="col-12 text-center">
              <p class="date-text">30 Nov 2020, 11:00 am</p>
              <h5 class="question-text">How are you feeling today? </h5>
            </div>
          </div>
          <div class="row mt-3 mt-md-5 mb-3 mb-md-5">
            <div class="col-12 col-md-8 offset-md-2">
              <div class="row answer-set">
                <div class="col-12 col-md-3 text-center">
                  <button type="button" class="btn-answer">
                    <img class="icon-96 mb-2" src="assets/img/great-feeling-icon.png" alt="">
                    <p class="great-text">Great</p>
                  </button>
                </div>
                <div class="col-12 col-md-3 text-center">
                  <button type="button" class="btn-answer">
                    <img class="icon-96 mb-2" src="assets/img/good-face.png" alt="">
                    <p class="good-text">Good</p>
                  </button>
                </div>
                <div class="col-12 col-md-3 text-center">
                  <button type="button" class="btn-answer">
                    <img class="icon-96 mb-2" src="assets/img/bad-face.png" alt="">
                    <p class="bad-text">Bad</p>
                  </button>
                </div>
                <div class="col-12 col-md-3 text-center">
                  <button type="button" class="btn-answer">
                    <img class="icon-96 mb-2" src="assets/img/worst-face.png" alt="">
                    <p class="worst-text">Worst</p>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-3 mb-md-5 mt-3 mt-md-5">
            <div class="col-12 text-center">
              <button data-toggle="modal" data-target="#dailyPollModal" type="button" class="btn btn-primary"
                data-dismiss="modal">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Student Today's Question Modal End-->


  <!--Daily poll Modal Start-->
  <div class="modal fade dailyPollModal" id="dailyPollModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="dailyPollModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="dailyPollModalLabel">Daily poll</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body bg-white">
          <div class="row mt-3 mt-md-5">
            <div class="col-12 text-center">
              <h5 class="poll-text">Whom do you like as a scientist? </h5>
            </div>
          </div>
          <div class="row mt-3 mt-md-5 mb-3 mb-md-5">
            <div class="col-12 col-md-8 offset-md-2">
              <div class="form-row answer-set">
                <div class="col-12 col-md-6 mb-2">
                  <button type="button" class="btn-poll-answer d-block w-100 text-left btn-danger">
                    <div class="poll poll-1"><span class="pr-3">a.</span> Albert Einstein</div>
                  </button>
                </div>
                <div class="col-12 col-md-6 mb-2">
                  <button type="button" class="btn-poll-answer d-block w-100 text-left btn-info">
                    <div class="poll poll-1"><span class="pr-3">b.</span> Marie Curie</div>
                  </button>
                </div>
                <div class="col-12 col-md-6 mb-2">
                  <button type="button" class="btn-poll-answer d-block w-100 text-left btn-warning">
                    <div class="poll poll-1"><span class="pr-3">c.</span> Isaac Newton</div>
                  </button>
                </div>
                <div class="col-12 col-md-6 mb-2">
                  <button type="button" class="btn-poll-answer d-block w-100 text-left btn-success">
                    <div class="poll poll-1"><span class="pr-3">d.</span> Galileo Galilei</div>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-3 mb-md-5 mt-3 mt-md-5">
            <div class="col-12 text-center">
              <button data-toggle="modal" data-target="#gratitudeJournalModal" type="button" class="btn btn-primary"
                data-dismiss="modal">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Daily poll Modal End-->


  <!--Gratitude Journal Modal Start-->
  <div class="modal fade gratitudeJournalModal" id="gratitudeJournalModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="gratitudeJournalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="gratitudeJournalModalLabel">Gratitude Journal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body bg-white">
          <div class="row today-question">
            <div class="col-12 text-center">
              <p class="date-text pb-2 pb-md-4">Today’s Question</p>
              <h5>What am I grateful for today? </h5>
              <img class="women-img" src="assets/img/women-img.png" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
              <ul class="gratitude-Journal-list mb-3">
                <li>
                  <span class="text">
                    1. Today I have learned a new interesting lesson.
                    <button type="button" class="btn-link p-0"><img src="assets/img/download-icon.png"
                        alt="Download"></button>
                    <button type="button" class="btn-edit p-0"><img src="assets/img/edit-icon.png" alt="Edit"></button>
                  </span></li>
                <li>
                  <span class="text">
                    2. Today I have learned a new interesting lesson.
                    <button type="button" class="btn-link p-0"><img src="assets/img/download-icon.png"
                        alt="Download"></button>
                    <button type="button" class="btn-edit p-0"><img src="assets/img/edit-icon.png" alt="Edit"></button>
                  </span></li>
              </ul>
              <button type="button" class="btn btn-success float-right" data-dismiss="modal">+ Add answer</button>
            </div>
          </div>
          <div class="row mb-3 mb-md-5 mt-3 mt-md-5">
            <div class="col-12 text-center">
              <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
                data-target="#studentDashboardModal">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Gratitude Journal Modal End-->

