<section class="form-section">
    <div class="form-window">
        <div class="content-box">
            <div class="heading-container sub-wrapper">
                <ng-container *ngIf="page ==='Talents'; else favourites">
                    <div>
                        <img src="assets/img/q4.png" alt="" />
                        <p>Show off your talents</p>
                    </div>
                    <p class="sub-title">Do not forgot to upload an Image or a Video</p>
                </ng-container>
                <ng-template #favourites>
                    <div>
                        <img src="assets/img/q5.png" alt=""/>
                        <p>Share a few of your favourites</p>
                    </div>
                    <p class="sub-title">Do not forgot to upload an Image or a Video</p>
                </ng-template>
            </div>

            <div class="options-container">
                <app-spinner *ngIf="isLoading"></app-spinner>
                <ng-container *ngFor="let talent of talents">
                <div class="option-wrapper">
                    <div class="custom-control custom-checkbox">
                    <input class="styled-checkbox" type="checkbox"  id="{{talent.skill_id}}"
                        [(ngModel)]="talent.selected"/>
                        <label for="{{talent.skill_id}}">{{talent.skill_name}}</label>
                    </div>
                    <button class="btn-upload" *ngIf="talent.selected" (click)=openUploadModel(talent.skill_id)>
                        <img src="assets/img/Upload.png" alt="" />
                    </button>
                </div>

                <textarea *ngIf="talent.skill_name === 'Others' && talent.selected" placeholder="write something here..."></textarea>
                <div class="talents-container">
                    <div class="talent-wrapper">
                        <ng-container *ngFor="let file of talent.skill_files">
                          <img [src]="file.filePath" alt="" *ngIf="file.fileType === 'image'; else videotype"/>
                          <ng-template #videotype>
                            <video width="100%" height="100%" controls>
                              <source [src]="file.filePath" type='video/mp4'>
                              Your browser does not support the video tag.
                            </video>
                          </ng-template>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
            </div>

          <button class="btn-next" style="text-transform: capitalize" (click)="save()">Save</button>
        </div>
    </div>
</section>
