<h2>Overview</h2>
<p>See your achievement snapshot across learning and engagement activities</p>
<div class="my-3">
    <!-- Quest Map Bottom Content Start -->
  <div class="daily-dot-bottom-content">
    <!-- Top 3 Quests Section Start -->
    <div class="daily-poll-section pb-5">
      <div class="container">
        <div class="row mb-4">
          <div class="col-12 d-flex justify-content-between">
            <h2>Top 3 Quests</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="top-quests-box iam-time-box">
              <figure>
                <img src="assets/img/i-am-time-icon.png" alt="">
              </figure>
              <h6>I am Time</h6>
              <p>Finish on time and earn <strong>30 coins</strong></p>
              <div class="bottom-text">
                <div class="avatar">
                  <img src="assets/img/logo-icon.png" alt="">
                </div>
                <div class="anecdote-info">
                  <h5>Rupak Badesha</h5>
                  <p>Created Date: 10 Dec, 2020</p>
                </div>
              </div>
              <div class="time-list">
                <li><img src="assets/img/start-time-icon.png" alt="">
                  <div class="time-info"> <strong>Start time</strong> Nov 6, 2020 . 3:38 pm</div>
                </li>
                <li><img src="assets/img/total-coin-icon.png" alt="">
                  <div class="time-info"> <strong>Total Coins to be earn 1000</strong> Earned: 600 <span
                      class="border-right mr-2 ml-2"></span> Need: 400</div>
                </li>
              </div>
              <div class="progress-wrapper d-flex">
                <div class="progress w-75">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="text">70%</span>
              </div>
              <div class="other-options d-flex justify-content-between">
                <div class="left">
                  <button class="btn" type='button'><img src="assets/img/continue-icon.png" alt=""> Continue</button>
                  <button class="btn" type='button'><img src="assets/img/view-icon.png" alt=""> View</button>
                </div>
                <div class="right">
                  <button class="btn btn-like" type='button'><img src="assets/img/like-icon.png" alt=""> 8</button>
                </div>
              </div>
            </div>
            <div class="quests-info">
              <div class="avatar">
                <img src="assets/img/logo-dark-icon.png" alt="">
              </div>
              <div class="quests-right-info">
                <h4>I am Time</h4>
                <p>This 3 week quest includes <br>
                  9 Challenges <br>
                  12 Quizzes <br>
                  6 Videos <br>
                  and opportunity to earn 1000 Dotcoins and achievement badges</p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="top-quests-box finding-purpose-box">
              <figure>
                <img src="assets/img/finding-purpose-icon.png" alt="">
              </figure>
              <h6>Finding Purpose</h6>
              <p>Search and find the purpose</p>
              <div class="bottom-text">
                <div class="avatar">
                  <img src="assets/img/logo-icon.png" alt="">
                </div>
                <div class="anecdote-info">
                  <h5>Rupak Badesha</h5>
                  <p>Created Date: 10 Dec, 2020</p>
                </div>
              </div>
              <div class="time-list">
                <li><img src="assets/img/start-time-icon.png" alt="">
                  <div class="time-info"> <strong>Start time</strong> Nov 6, 2020 . 3:38 pm</div>
                </li>
                <li><img src="assets/img/total-coin-icon.png" alt="">
                  <div class="time-info"> <strong>Total Coins to be earn 1000</strong> Earned: 600 <span
                      class="border-right mr-2 ml-2"></span> Need: 400</div>
                </li>
              </div>
              <div class="progress-wrapper d-flex">
                <div class="progress w-75">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="text">70%</span>
              </div>
              <div class="other-options d-flex justify-content-between">
                <div class="left">
                  <button class="btn" type='button'><img src="assets/img/continue-icon.png" alt=""> Continue</button>
                  <button class="btn" type='button'><img src="assets/img/view-icon.png" alt=""> View</button>
                </div>
                <div class="right">
                  <button class="btn btn-like" type='button'><img src="assets/img/like-icon.png" alt=""> 8</button>
                </div>
              </div>
            </div>
            <div class="quests-info">
              <div class="avatar">
                <img src="assets/img/logo-dark-icon.png" alt="">
              </div>
              <div class="quests-right-info">
                <h4>Finding Purpose</h4>
                <p>
                  This 3 week quest includes <br>
                  9 Challenges <br>
                  12 Quizzes <br>
                  6 Videos <br>
                  and opportunity to earn 1000 Dotcoins and achievement badges
                </p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="top-quests-box flim-maker-box">
              <figure>
                <img src="assets/img/flim-maker-icon.png" alt="">
              </figure>
              <h6>Quest of a Film Maker</h6>
              <p>Make a film</p>
              <div class="bottom-text">
                <div class="avatar">
                  <img src="assets/img/logo-icon.png" alt="">
                </div>
                <div class="anecdote-info">
                  <h5>Rupak Badesha</h5>
                  <p>Created Date: 10 Dec, 2020</p>
                </div>
              </div>
              <div class="time-list">
                <li><img src="assets/img/start-time-icon.png" alt="">
                  <div class="time-info"> <strong>Start time</strong> Nov 6, 2020 . 3:38 pm</div>
                </li>
                <li><img src="assets/img/total-coin-icon.png" alt="">
                  <div class="time-info"> <strong>Total Coins to be earn 1000</strong> Earned: 600 <span
                      class="border-right mr-2 ml-2"></span> Need: 400</div>
                </li>
              </div>
              <div class="progress-wrapper d-flex">
                <div class="progress w-75">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="text">70%</span>
              </div>
              <div class="other-options d-flex justify-content-between">
                <div class="left">
                  <button class="btn" type='button'><img src="assets/img/continue-icon.png" alt=""> Continue</button>
                  <button class="btn" type='button'><img src="assets/img/view-icon.png" alt=""> View</button>
                </div>
                <div class="right">
                  <button class="btn btn-like" type='button'><img src="assets/img/like-icon.png" alt=""> 8</button>
                </div>
              </div>
            </div>
            <div class="quests-info">
              <div class="avatar">
                <img src="assets/img/logo-dark-icon.png" alt="">
              </div>
              <div class="quests-right-info">
                <h4>Quest of a Film Maker</h4>
                <p>This 3 week quest includes <br>
                  9 Challenges <br>
                  12 Quizzes <br>
                  6 Videos <br>
                  and opportunity to earn 1000 Dotcoins and achievement badges</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Top 3 Quests Section End -->
</div>
</div>