<app-loader *ngIf="isLoading"></app-loader>
<section class="form-section">
    <div class="form-window">
        <div class="title-bar">
            Create Password
            <button>
                <img src="assets/img/back-arrow.png" alt="" />
            </button>
            <button>
                <p></p>
            </button>
        </div>
        <form [formGroup]="buildForm" (ngSubmit)="setPassword()">
            <div class="content-box">
                <div>
                    <label for="email_id">Email</label>
                    <input type="email" class="form-control" formControlName="email" placeholder="Email"
                    [ngClass]="{'error-field': _uhs.isValidField(buildForm?.controls.email)}">
                    <app-control-messages [control]="buildForm?.controls.email" labelName="Email Id">
                    </app-control-messages>
                </div>
                <div>
                    <label for="password">Enter New password</label>
                    <input type="password" id="password" class="form-control" maxlength="20" formControlName="password" placeholder="Enter your password"
                    [ngClass]="{'error-field': _uhs.isValidField(buildForm?.controls.password)}">
                    <app-control-messages [control]="buildForm?.controls.password" labelName="Password">
                    </app-control-messages>
                </div>
                <div>
                    <label for="c_password">Re-Enter password</label>
                    <input [type]="showConfPwd ? 'text' : 'password'" class="form-control" id="c_password" maxlength="20" formControlName="confirm_password" placeholder="Enter your confirm password"
                    [ngClass]="{'error-field': _uhs.isValidField(buildForm?.controls.confirm_password)}">
                    <app-control-messages [control]="buildForm?.controls.confirm_password" labelName="Confirm Password">
                    </app-control-messages>
                </div>
              <!--                <button *ngIf="showConfPwd" type="button" (click)="showConfPwd=!showConfPwd">Hide Password</button>-->
              <!--                <button *ngIf="!showConfPwd" type="button" (click)="showConfPwd=!showConfPwd">Show Password</button>-->
              <button type="submit" class="btn-next">NEXT</button>
            </div>
        </form>

    </div>
</section>
