<div class="home-section">
  <section class="home">
    <div class="left">
      <h1>
        Welcome to DotX
      </h1>
      <h2>
        online communities for children <br/>
        (age 10 years and above) to <br/>
        explore 21st-century life skills.
      </h2>
      <a href="">
        <button>Join DotX Today</button>
      </a>
    </div>
    <div class="right">
      <img src="assets/img/cover-img.png" alt=""/>
    </div>
  </section>

  <section class="section-2">
    <img class="pos-abs" src="assets/img/bck-2.png" alt=""/>
    <img class="pos-abs" src="assets/img/bck-3.png" alt=""/>
    <h3>Welcome to <span>I am Time</span></h3>
    <p>
      Our first community focused on developing time management life skills. You will have a zany but friendly guide,
      Samay, to explore
      TickTock, learn new skills, make friends, and participate in challenges that help you improve your relationship
      with Time.
    </p>
    <div class="img-container">
      <div class="card">
        <div class="img-wrapper">
          <img src="assets/img/oval-1.png" alt=""/>
          <img src="assets/img/man-1.png" alt=""/>
        </div>
        <p><span>I am Time</span> <br> Community focused on time management.</p>
      </div>
      <div class="card">
        <div class="img-wrapper">
          <img src="assets/img/oval-2.png" alt=""/>
          <img src="assets/img/man-2.png" alt=""/>
        </div>
        <p><span>Finding your Mojo</span> <br> Community focused on purpose</p>
      </div>
    </div>
    <div class="btn-wrapper">
      <img src="assets/img/grass-3.png" alt=""/>
      <a href="google.com">
        <button>
          Join DotX Today
        </button>
      </a>
      <img src="assets/img/grass-4.png" alt=""/>
    </div>
  </section>

  <section class="section-3">
    <div class="quest-card">
      <img src="assets/img/quest-1.png" alt=""/>
      <h3 class="card-title">Hub</h3>
      <p class="desc">Your community space. Meet like-minded individuals, exchange ideas and participate in fun
        challenges.</p>
      <a href="">
        <div class="btn-wrapper">
          <button style="background-color: #85b859; color: #305c09;">Go express!</button>
        </div>
      </a>
    </div>
    <div class="quest-card">
      <img src="assets/img/quest-3.png" alt=""/>
      <h3 class="card-title">Dock</h3>
      <p class="desc">
        Your quiet space. It is a place to reflect, check your emotions, and get the daily booster shot of
        positivity!You can visit it
        anytime.
      </p>
      <a href="">
        <div class="btn-wrapper">
          <button style="background-color: #4fa0f3; color: #0b3e72;">Go Hang!</button>
        </div>
      </a>
    </div>
  </section>

  <section class="section-4">
    <img src="assets/img/footer-img.png" alt=""/>
  </section>
</div>
