 <!-- RESET PASSWORD BOX START -->
 <div class="login-section">
  <app-loader *ngIf="isLoading"></app-loader>
    <div class="container">
      <div class="login-wrapper">
        <h2 class="text-center" *ngIf="resetInfoDashboard !== 'resetPassword'">Reset your password</h2>
        <div class="login-box">
          <div class="login-header" *ngIf="resetInfoDashboard !== 'resetPassword'">
            <div class="row">
              <div class="col-12">
                <h3><img src="assets/img/reset-icon.png" alt=""> Reset Password
                   <!-- <a class="link-skip ml-3"
                    href="javascript:void(0)">Skip</a> -->
                   </h3>
              </div>
            </div>
          </div>
          <div class="login-bottom">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordSubmit()">
              <div class="form-group">
                <label>{{fromLogin ? 'Temporary Password' : 'Old Password'}}</label>
                <div class="reenter-password">
                <input [type]="old_showHide ? 'text' : 'password'" class="form-control" formControlName="current_password" maxlength="20"
                 placeholder="Enter password" [ngClass]="{'error-field': _uhs.isValidField(resetPasswordForm?.controls.current_password)}" >
                 <app-control-messages [control]="resetPasswordForm?.controls.current_password" labelName="Old Password">
                </app-control-messages>
                <button *ngIf="old_showHide" type="button" class="btn-show" (click)="showPasswordtext()">hide</button>
                <button *ngIf="!old_showHide" type="button" class="btn-show" (click)="showPasswordtext()">show</button>
                </div>
              </div>
              <div class="form-group">
                <label>New Password</label>
                <div class="reenter-password">
                <input [type]="new_showHide ? 'text' : 'password'" class="form-control" formControlName="new_password" maxlength="20"
                 placeholder="Enter new password" [ngClass]="{'error-field': _uhs.isValidField(resetPasswordForm?.controls.new_password)}" >
                 <app-control-messages [control]="resetPasswordForm?.controls.new_password" labelName="New Password">
                </app-control-messages>
                <button *ngIf="new_showHide" type="button" class="btn-show" (click)="showNewPasswordtext()">hide</button>
                <button *ngIf="!new_showHide" type="button" class="btn-show" (click)="showNewPasswordtext()">show</button>
                </div>
              </div>
              <div class="form-group">
                <label>Re-Enter Password</label>
                <div class="reenter-password">
                  <input [type]="confirm_showHide ? 'text' : 'password'" class="form-control" maxlength="20" formControlName="confirm_password"
                   placeholder="Re-Enter password" [ngClass]="{'error-field': _uhs.isValidField(resetPasswordForm?.controls.confirm_password)}">
                  <app-control-messages [control]="resetPasswordForm?.controls.confirm_password" labelName="Confirm Password" >
                  </app-control-messages>
                  <button *ngIf="confirm_showHide" type="button" class="btn-show" (click)="showConfrmPasswordtext()">hide</button>
                  <button *ngIf="!confirm_showHide" type="button" class="btn-show" (click)="showConfrmPasswordtext()">show</button>
              </div>
              </div>
              <div class="form-group mt-0 mt-md-5 pt-0 pt-md-5">
                <button type="submit" class="btn btn-dark btn-block">{{resetInfoDashboard !== 'resetPassword' ? 'NEXT' : 'SAVE'}}</button>
                <!-- <input type="submit" class="btn btn-dark btn-block" value="Next"> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- RESET PASSWORD BOX END -->