.removeUpload{
    float: right; font-size: 20px; cursor: pointer;
}

.chooseItem{
    padding: 10px; background-color: aliceblue;margin: 7px;
}

.validationInfo{
    font-size: 14px; color: #1d8aff; float: right;
}