<section class="form-section">
  <div class="form-window">
    <div class="title-bar">Create Profile</div>
    <div class="content-box profile-completed">
      <p>Successfully Completed your profile</p>
      <div class="box">
        <img src="assets/img/backgound-1.png" alt="" />
        <div class="content-wrapper">
          <img src="assets/img/profile-completed.png" alt="" />
          <h2>YAY!</h2>
          <h3>You are all set</h3>
        </div>
      </div>
      <button class="btn-next" (click)="goToDashboard()">Ok</button>
    </div>
  </div>
</section>