<div class="communities-section">
  <div class="container">
    <h3 class="communities-title">Communities</h3>
    <div class="communities-banner">
      <img src="assets/img/communities/communities-banner-img.png" alt="" class="img-fluid"/>
      <div class="communities-banner-top">
        <div class="communities-guide-outer dropdown">
          <a title="Guide" class="guide-button dropdown-toggle" id="guideMenu"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
            src="assets/img/communities/guide-icon.png" alt=""/>
            <span>Rules</span></a>
          <div class="dropdown-menu" aria-labelledby="guideMenu">
            <h6>Community Guidelines -</h6>
            <ul>
              <li class="dropdown-item" data-toggle="modal">Original content only.</li>
              <li class="dropdown-item">Be authentic.</li>
              <li class="dropdown-item">Abuse must be reported.</li>
              <li class="dropdown-item">Be civil and kind.</li>
              <li class="dropdown-item">Don't be a jerk</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="communities-banner-bottom d-flex justify-content-center">
        <a href="#" title="" [routerLink]="'/main-route/student/spotlight'" [routerLinkActive]="'active'">Join the
          Community</a>
      </div>
    </div>
    <div class="communities-coming-soon-section">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
          <div class="communities-coming-soon-banner">
            <img src="assets/img/communities/communities-thumbnail-img1.png" alt="" class="img-fluid"/>
            <div class="communities-coming-soon-banner-bottom">
              <h4>Finding your Mojo</h4>
            </div>
          </div>
          <div class="communities-coming-soon-content">
            <div class="communities-guide-outer dropdown">
              <a title="Guide" class="guide-button dropdown-toggle" id="guideMenu"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                src="assets/img/communities/guide-icon.png" alt=""/>
                <span>Rules</span></a>
              <div class="dropdown-menu" aria-labelledby="guideMenu">
                <h6>Community Guidelines -</h6>
                <ul>
                  <li class="dropdown-item" data-toggle="modal">Original content only.</li>
                  <li class="dropdown-item">Be authentic.</li>
                  <li class="dropdown-item">Abuse must be reported.</li>
                  <li class="dropdown-item">Be civil and kind.</li>
                  <li class="dropdown-item">Don't be a jerk</li>
                </ul>
              </div>
            </div>

            <p>Have you ever been baffled by the question, what do you want to become when you grow up?
              Do you wish there was a simple way to find your purpose? Join this community to
              understand what makes you tick; identify problems you like to solve and discover the
              magic that makes you unique!</p>
            <h5>Superpowers you earn- </h5>
            <h6 class="mb-42">Being Immortal, </h6>
            <h6>Sword of Persistence</h6>
            <ul class="d-flex">
              <li>Challenges 20</li>
              <li>|</li>
              <li>Members 200</li>
            </ul>
          </div>
          <div class="communities-coming-soon-footer">
            <p>Coming Soon</p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 pl-0 communities-coming-soon-list-rules-right">
          <div class="communities-coming-soon-banner">
            <img src="assets/img/communities/communities-thumbnail-img2.png" alt="" class="img-fluid"/>
            <div class="communities-coming-soon-banner-bottom">
              <h4>Finding your Mojo</h4>
            </div>
          </div>
          <div class="communities-coming-soon-content">
            <div class="communities-guide-outer dropdown">
              <a title="Guide" class="guide-button dropdown-toggle" id="guideMenu2"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                src="assets/img/communities/guide-icon.png" alt=""/>
                <span>Rules</span></a>
              <div class="dropdown-menu" aria-labelledby="guideMenu2">
                <h6>Community Guidelines -</h6>
                <ul>
                  <li class="dropdown-item" data-toggle="modal">Original content only.</li>
                  <li class="dropdown-item">Be authentic.</li>
                  <li class="dropdown-item">Abuse must be reported.</li>
                  <li class="dropdown-item">Be civil and kind.</li>
                  <li class="dropdown-item">Don't be a jerk</li>
                </ul>
              </div>
            </div>
            <p>Have you ever been baffled by the question, what do you want to become when you grow up?
              Do you wish there was a simple way to find your purpose? Join this community to
              understand what makes you tick; identify problems you like to solve and discover the
              magic that makes you unique!</p>
            <h5>Superpowers you earn- </h5>
            <h6 class="mb-42">Being Immortal, </h6>
            <h6>Sword of Persistence</h6>
            <ul class="d-flex">
              <li>Challenges 20</li>
              <li>|</li>
              <li>Members 200</li>
            </ul>
          </div>
          <div class="communities-coming-soon-footer">
            <p>Coming Soon</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
