
    <app-loader *ngIf="isLoading"></app-loader>
    <section class="form-section">
      <div class="form-window">
        <div class="title-bar">
          Forgot your password
        </div>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordSubmit()" autocomplete="off">
          <div class="content-box login">
            <div>
              <label for="">Email Id</label>
              <input type="email" class="form-control" formControlName="user_email"
              placeholder="Email Id" [ngClass]="{'error-field': _uhs.isValidField(forgotPasswordForm?.controls.user_email)}">
             <app-control-messages [control]="forgotPasswordForm?.controls.user_email" labelName="Email Id" >
             </app-control-messages>
            </div>
            <button class="btn-next" type="submit">NEXT</button>
            <button type="button" class="btn btn-primary btn-block" routerLink="/auth/login">LOG IN</button>
          </div>
        </form>
      </div>
    </section>