/* ===================== 
LOGIN CSS START ====================== */
.login-section{ width: 100%; padding: 70px 0 98px; background: url('../img/login-bg.png') no-repeat center top #fff; }
.login-wrapper{ max-width:450px; margin: 0 auto }
.login-wrapper h2{ font: 500 24px/33px 'Metropolis'; color: #42474C; background-color: inherit; text-transform: uppercase; padding: 0 0 30px; margin:0; letter-spacing: 0.15px }
.login-box{ background: #fff; border-radius: 18px; box-shadow: 0 0 13px rgba(0,0,0,0.24) }
.login-header{ height: 74px; border-radius: 18px 18px 0 0; display: flex; align-items: center; justify-content: center; background: #07304C }
.login-header h3{ font-weight: 500; font-weight: 'Metropolis'; font-size: 36px; line-height: 36px; color: #9FB4C4; padding: 0; margin: 0 }
.login-header h3 img{ height: 30px; margin-right: 15px }
.login-bottom{ padding: 40px 26px 100px; position: relative; }
.login-bottom:before{ width: 100%; height: 105px; position: absolute; bottom: -20px; left: 0; right: 0; content: ''; background: url('../img/login-box-bg.png') no-repeat 0 0 }
.btn-google-login{ width: 241px; display:block; margin: 0 auto }
.btn-google-login img{ width: 100% }
.text-devider{ width: 100%; display: block; text-align: center; margin: 28px 0; border-top: 1px solid #e5e5e5; }
.text-devider span{ position: relative; top: -13px; background: #fff; padding: 0 30px; color: #858585; font:400 18px/18px 'Metropolis'; }
.btn[type="submit"].btn-block, .btn-d-block{ font:600 20px 'Metropolis' !important; border-radius: 5px }
p{ font-weight:400 }

/* ===================== 
RESET PASSWORD CSS START ====================== */
.link-skip{ color: #9FB4C4; font-size: 24px;; font-weight: normal }
.link-skip:hover{ color: #fff }
.reenter-password{ position: relative; }
.reenter-password input.form-control{ padding-right: 90px }
.btn-show{ position: absolute; top: 6px; right: 27px; border: inherit; background-color: inherit }
