<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordSubmit()">
    <div class="form-group">
      <label>{{fromLogin ? 'Temporary Password' : 'Old Password'}}<span class="text-danger">*</span></label>
      <div class="reenter-password">
      <input [type]="isOldPasswordShow ? 'text' : 'password'" class="form-control" formControlName="current_password" maxlength="20"
       placeholder="Enter password" [ngClass]="{'error-field': validateService.isValidField(resetPasswordForm?.controls.current_password)}" >
       <app-control-messages [control]="resetPasswordForm?.controls.current_password" labelName="Old Password">
      </app-control-messages>
      <button *ngIf="isOldPasswordShow" type="button" class="btn-show" (click)="showOldPasswordtext()">hide</button>
        <button *ngIf="!isOldPasswordShow" type="button" class="btn-show" (click)="showOldPasswordtext()">show</button>
      </div>
      </div>
    <div class="form-group">
      <label>New Password<span class="text-danger">*</span></label>
      <div class="reenter-password">
      <input [type]="isPasswordShow ? 'text' : 'password'" class="form-control" formControlName="new_password" maxlength="20"
       placeholder="Enter new password" [ngClass]="{'error-field': validateService.isValidField(resetPasswordForm?.controls.new_password)}" >
       <app-control-messages [control]="resetPasswordForm?.controls.new_password" labelName="New Password">
      </app-control-messages>
      <button *ngIf="isPasswordShow" type="button" class="btn-show" (click)="showPasswordtext()">hide</button>
        <button *ngIf="!isPasswordShow" type="button" class="btn-show" (click)="showPasswordtext()">show</button>
       </div>
      </div>
    <div class="form-group">
      <label>Re-Enter Password<span class="text-danger">*</span></label>
      <div class="reenter-password">
        <input [type]="isConfirmPasswordShow ? 'text' : 'password'" class="form-control" maxlength="20" formControlName="confirm_password"
         placeholder="Re-Enter password" [ngClass]="{'error-field': validateService.isValidField(resetPasswordForm?.controls.confirm_password)}">
        <app-control-messages [control]="resetPasswordForm?.controls.confirm_password" labelName="Confirm Password" >
        </app-control-messages>
        <button *ngIf="isConfirmPasswordShow" type="button" class="btn-show" (click)="showConfirmPasswordtext()">hide</button>
        <button *ngIf="!isConfirmPasswordShow" type="button" class="btn-show" (click)="showConfirmPasswordtext()">show</button>
    </div>
    </div>
    <div class="form-group text-center mt-5">
        <img src="assets/img/inline_spinner.svg" *ngIf="isFormSubmitted" alt="" />
        <button type="submit" class="btn btn-danger btn-save" [ngClass]="{'disabledTab': isFormSubmitted}" [disabled]="isFormSubmitted">Save</button>
    </div>
  </form>