<app-loader *ngIf="isLoading"></app-loader>
<section class="form-section">
    <div class="form-window">
        <div class="title-bar">
            Create Profile
            <button (click)="backTo()">
              <img src="assets/img/back-arrow.png" alt="" />
            </button>
            <button (click)="skipTo()">
              <p>Skip</p>
            </button>
          </div>
        <div class="content-box">
            <div class="heading-container">
                <img [src]="quizIcon" alt="" />
                <p>{{quizDescription}}</p>
            </div>

            <div class="options-container">
                <ng-container *ngFor="let item of options; let i = index">
                    <div class="option-wrapper" >
                      <input class="styled-checkbox" type="checkbox"  id="{{item.option}}"
                      [(ngModel)]="item.selected"/>
                      <label for="{{item.option}}">{{item.option}}</label>
                    </div>
                    <textarea type="text" class="form-control" *ngIf="item.option==='Others' && item.selected"
              placeholder="Write here how did you hear about us ?"></textarea>
                  </ng-container>
            </div>

            <button class="btn-next" (click)="save()">next</button>
        </div>
    </div>
</section>
